<div class="cabecera-principal">
    <div class="nombre-app">
        <img class="logo-img" width="50px" src="/img/logo.png" alt="">
        <p>UNISOCIAL</p>
    </div>

    <div class="form-buscar">
        <form action="/buscar_publicaciones" method="get">
            <!-- <label class="buscar" for="busqueda">Buscar por título:</label> -->
            <input class="busqueda" type="text" id="busqueda" name="q" placeholder="Buscar publicacion por titulo">
            <button type="submit" class="btn-buscar"><img src="/img/lupa.png" width="10px" alt=""></button>
        </form>
    </div>

    <div class="editar-perfil">
        <a href="/editar_perfil" class="perfil">Perfil</a>
        <img src="/img/perfil.png" width="50px" alt="">
    </div>
    
</div>